.post-card {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
  border-radius: 0.25rem;
  padding: 1rem;
}

.post-card:hover {
  transform: scale(1.05);
}

.post-card  img {
  max-width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.post-card  h2 {
  font-size: 2rem;
}

.post-card  p {
  font-size: 0.85rem;
  text-align: justify;
}

.post-card  a {
  text-decoration: none;
  color: rgb(75, 69, 69);
}

